*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Font;
    src: url(Fonts/HartwellBold.otf);
  }

body{
    font-family: Font !important;
}

.section{
    width: 100%;
    height: 100vh;
    background: #13152a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section figure{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.section figure img{
    width: 120px;
    height: 30px;
}

.child_left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.child_left img{
    width: 36px;
    margin-right: 10px;
}

.child_left h2{
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.child_right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.child_right a{
    text-decoration: none;
    color: white;
    background: #aa33b5;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 3px;
}

.child_right a:hover{
    color: #FFF;
    background: #7a2182;
}

.list_left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_left span{
    font-size: 13px;
    color: #fff;
    margin-bottom: 3px;
}

.list_left ul{
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
}

.list_left ul li{
    margin-bottom: 6px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.list_left ul li a{
    display: flex;
    float: left;
    padding-right: 9px;
}

.list_left ul li a i{
    font-size: 12px;
    color: #fff;
}

.list_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.list_right span{
    font-size: 13px;
    color: #fff;
    margin-bottom: 3px;
}

.list_right ul{
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
}

.list_right ul li{
    margin-bottom: 6px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*-------------------------Formatação pagina ADD TOKENS---------------------------------------*/

.child_left_add{
    display: flex;
    align-items: center;
    justify-content: left;
}

.child_left_add img{
    width: 36px;
    margin-right: 10px;
}

.child_left_add h2{
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.add_desc h3{
    font-size: 20px;
    color: #fff;
}

.btn_gray{
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 3px 24px;
    border-radius: 3px;
    background: #646464;
    height: 24px;
}

.btn_gray:hover{
    color: #fff;
}

.btn_purple{
    text-decoration: none;
    color: white;
    background: #aa33b5;
    font-size: 13px;
    padding: 3px 26px;
    border-radius: 3px;
}

.btn_left{
    text-decoration: none;
    color: white;
    background: #920000;
    font-size: 13px;
    padding: 3px 24px;
    border-radius: 3px;
}

form label{
    color: #fff;
    margin-bottom: 4px;
}

.swal-modal {
    width: 350px;
}